
@use "../../styles/partials/resets";
@use '../../styles/partials/mixins' as *;

.stock-chart {
    display: flex;
    background-color: black;
    color: white;
    height: 20rem;
    @include tablet {
        height: 25.25rem;
    }
    
}