@import "../../styles/partials/mixins";

.header{
    display: flex;
    background-color: #000000f7;
    color: #fff;
    justify-content: space-between;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    


    &__link {
        height: 82px;

    }
}